body {
  margin: 0;
  padding: 0;
  background-color: black;
  background-image: url(/img/bg_fon.jpg);
  background-size: cover;

}

.full {
  height: 100vh;
  margin-left: 100px;
}




a {
  color: white;

}

a:visited {
  color: white;

}

h2 {
  font-family: 'Montserrat', sans-serif;
  font-size: 32px;
  font-weight: 600;
  padding-top: 50px;

}

h1 {
  font-family: 'Montserrat', sans-serif;
  font-size: 38px;
  font-weight: 600;
  color: white;
}

.row {
  margin: 0;
  padding: 0;
}

.col {
  margin: 0;
  padding: 0;
  height: 50vh;
}



a:hover {
  text-decoration: none;
  color: #494949;
}

.social {
 padding-top: 25vh;

}

.social_vk {
  width: 50px;
  height: 50px;
  margin-right: 20px;
  background-image: url(/img/a/vk.svg);
  background-size: cover;
}

.social_inst {
  width: 50px;
  height: 50px;
  margin-right: 20px;
  background-image: url(/img/a/inst.svg);
  background-size: cover;
}

.social_fac {
  width: 50px;
  height: 50px;
  margin-right: 20px;
  background-image: url(/img/a/face.svg);
  background-size: cover;
}

.social_twit {
  width: 50px;
  height: 50px;
  margin-right: 20px;
  background-image: url(/img/a/twit.svg);
  background-size: cover;
}

.social_vk:hover {
  background-image: url(/img/a/vk_hover.svg);
  opacity: 0.7;
}

.social_inst:hover {
  background-image: url(/img/a/inst_hover.svg);
  opacity: 0.7;
}

.social_fac:hover {
  background-image: url(/img/a/face_hover.svg);
  opacity: 0.7;
}

.social_twit:hover {
  background-image: url(/img/a/twit_hover.svg);
  opacity: 0.7;
}